# Selenium(exception handling)

In [1]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
import requests
import re
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

- Question 1

In [2]:
driver=webdriver.Chrome("chromedriver.exe") 


url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [3]:
Video_rank=[]
video_name=[]
video_artist=[]
video_upload_date=[]
video_views=[]

In [4]:
rank=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//td[1]")
for i in rank:
    Video_rank.append(i.text)
Video_rank[:30]

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [5]:
name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr//td[2]")
for i in name:
    video_name.append(i.text)

name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr//td[2]//a[1]")
for i in name:
    video_name.append(i.text)

video_name[:30]

['"Baby Shark Dance"[22]',
 '"Despacito"[24]',
 '"Johny Johny Yes Papa"[25]',
 '"Shape of You"[26]',
 '"See You Again"[27]',
 '"Masha and the Bear – Recipe for Disaster"[30]',
 '"Bath Song"[31]',
 '"Learning Colors – Colorful Eggs on a Farm"[32]',
 '"Uptown Funk"[33]',
 '"Gangnam Style"[34]',
 '"Phonics Song with Two Words"[36]',
 '"Sugar"[37]',
 '"Dame Tu Cosita"[38]',
 '"Sorry"[39]',
 '"Roar"[40]',
 '"Counting Stars"[41]',
 '"Thinking Out Loud"[42]',
 '"Wheels on the Bus"[43]',
 '"Dark Horse"[44]',
 '"Faded"[45]',
 '"Shake It Off"[46]',
 '"Girls Like You"[47]',
 '"Lean On"[48]',
 '"Bailando"[49]',
 '"Let Her Go"[50]',
 '"Mi Gente"[51]',
 '"Perfect"[52]',
 '"Axel F"[53]',
 '"Waka Waka (This Time for Africa)"[54]',
 '"Hello"[55]']

In [6]:
artist=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr//td[3]")
for i in artist:
    video_artist.append(i.text)

artist=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr//td[3]//a[1]")
for i in artist:
    video_artist.append(i.text)

video_artist[:30]

["Pinkfong Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Get Movies',
 'Cocomelon – Nursery Rhymes',
 'Miroshka TV',
 'Mark Ronson',
 'Psy',
 'ChuChu TV',
 'Maroon 5',
 'El Chombo',
 'Justin Bieber',
 'Katy Perry',
 'OneRepublic',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Katy Perry',
 'Alan Walker',
 'Taylor Swift',
 'Maroon 5',
 'Major Lazer',
 'Enrique Iglesias',
 'Passenger',
 'J Balvin',
 'Ed Sheeran',
 'Crazy Frog',
 'Shakira',
 'Adele']

In [7]:
date=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr//td[5]")
for i in date:
    video_upload_date.append(i.text)
    
video_upload_date[:30]

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'January 31, 2012',
 'May 2, 2018',
 'February 27, 2018',
 'November 19, 2014',
 'July 15, 2012',
 'March 6, 2014',
 'January 14, 2015',
 'April 5, 2018',
 'October 22, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 7, 2014',
 'May 24, 2018',
 'February 20, 2014',
 'December 3, 2015',
 'August 18, 2014',
 'May 31, 2018',
 'March 22, 2015',
 'April 11, 2014',
 'July 25, 2012',
 'June 29, 2017',
 'November 9, 2017',
 'June 16, 2009',
 'June 4, 2010',
 'October 22, 2015']

In [8]:
views=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr//td[4]")
for i in views:
    video_views.append(i.text)
    
video_views[:30]

['8.99',
 '7.45',
 '5.56',
 '5.39',
 '5.18',
 '4.44',
 '4.33',
 '4.28',
 '4.23',
 '4.12',
 '4.00',
 '3.51',
 '3.47',
 '3.45',
 '3.39',
 '3.34',
 '3.29',
 '3.17',
 '3.10',
 '3.10',
 '3.08',
 '3.07',
 '3.07',
 '3.06',
 '3.03',
 '2.95',
 '2.90',
 '2.88',
 '2.88',
 '2.86']

In [9]:
df=pd.DataFrame({"Rank":Video_rank[:30],
                "Name":video_name[:30],
                "Artist":video_artist[:30],
                "Views(in billions)":video_views[:30]})
df

,Rank,Name,Artist,Views(in billions)
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.99
1,2.,"""Despacito""[24]",Luis Fonsi,7.45
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.56
3,4.,"""Shape of You""[26]",Ed Sheeran,5.39
4,5.,"""See You Again""[27]",Wiz Khalifa,5.18
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.33
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.28
8,9.,"""Uptown Funk""[33]",Mark Ronson,4.23
9,10.,"""Gangnam Style""[34]",Psy,4.12
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,4.00
11,12.,"""Sugar""[37]",Maroon 5,3.51
12,13.,"""Dame Tu Cosita""[38]",El Chombo,3.47
13,14.,"""Sorry""[39]",Justin Bieber,3.45
14,15.,"""Roar""[40]",Katy Perry,3.39
15,16.,"""Counting Stars""[41]",OneRepublic,3.34
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.29
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,3.17
18,19.,"""Dark Horse""[44]",Katy Perry,3.10
19,20.,"""Faded""[45]",Alan Walker,3.10
20,21.,"""Shake It Off""[46]",Taylor Swift,3.08
21,22.,"""Girls Like You""[47]",Maroon 5,3.07
22,23.,"""Lean On""[48]",Major Lazer,3.07
23,24.,"""Bailando""[49]",Enrique Iglesias,3.06
24,25.,"""Let Her Go""[50]",Passenger,3.03
25,26.,"""Mi Gente""[51]",J Balvin,2.95
26,27.,"""Perfect""[52]",Ed Sheeran,2.90
27,28.,"""Axel F""[53]",Crazy Frog,2.88
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.88
29,30.,"""Hello""[55]",Adele,2.86

- Question 2

In [10]:
driver=webdriver.Chrome("chromedriver.exe") 


url = "https://www.bcci.tv/"
driver.get(url)

In [11]:
search_button=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")
search_button.click()


search_button=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']//li[1]//a")
search_button.click()

In [19]:
Match_title=[]
Series=[]
place=[]
date=[]

In [20]:
match_series=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']")
for i in match_series:
    Series.append(i.text.replace('\n','-'))
Series

['ODI-SRI LANKA V INDIA 2021',
 'ODI-SRI LANKA V INDIA 2021',
 'T20I-SRI LANKA V INDIA 2021',
 'T20I-SRI LANKA V INDIA 2021',
 'T20I-SRI LANKA V INDIA 2021',
 'TEST-ENGLAND V INDIA 2021',
 'TEST-ENGLAND V INDIA 2021',
 'TEST-ENGLAND V INDIA 2021',
 'TEST-ENGLAND V INDIA 2021',
 'TEST-ENGLAND V INDIA 2021']

In [21]:
title=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//strong")
for i in title:
    Match_title.append(i.text.replace('\n','-'))
Match_title

['2nd ODI',
 '3rd ODI',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '1st Test',
 '2nd Test',
 '3rd Test',
 '4th Test',
 '5th Test']

In [22]:
match_place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span")
for i in match_place:
    place.append(i.text.replace('\n','-'))
place

['R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'R Premadasa Stadium, Colombo',
 'Trent Bridge, Nottingham',
 "Lord's, London",
 'Headingley, Leeds',
 'The Oval, London',
 'Old Trafford, Manchester']

In [23]:
match_date=driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']//span[1]//strong[1]")
for i in match_date:
    date.append(i.text)
    

date

['Tuesday 20th July',
 'Friday 23rd July',
 'Sunday 25th July',
 'Tuesday 27th July',
 'Thursday 29th July',
 'Wednesday 4th August',
 'Thursday 12th August',
 'Wednesday 25th August',
 'Thursday 2nd September',
 'Friday 10th September']

In [25]:
time=[]
match_time=driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in match_time:
    time.append(i.text)
    
time

['15:00 IST',
 '15:00 IST',
 '20:00 IST',
 '20:00 IST',
 '20:00 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST',
 '15:30 IST']

In [26]:
df=pd.DataFrame({"Match_title":Match_title,
                 "Series":Series,
                "Match_place":place,
                "Match_date":date,
                "Match_time":time})
df

,Match_title,Series,Match_place,Match_date,Match_time
0,2nd ODI,ODI-SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Tuesday 20th July,15:00 IST
1,3rd ODI,ODI-SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Friday 23rd July,15:00 IST
2,1st T20I,T20I-SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Sunday 25th July,20:00 IST
3,2nd T20I,T20I-SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Tuesday 27th July,20:00 IST
4,3rd T20I,T20I-SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",Thursday 29th July,20:00 IST
5,1st Test,TEST-ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",Wednesday 4th August,15:30 IST
6,2nd Test,TEST-ENGLAND V INDIA 2021,"Lord's, London",Thursday 12th August,15:30 IST
7,3rd Test,TEST-ENGLAND V INDIA 2021,"Headingley, Leeds",Wednesday 25th August,15:30 IST
8,4th Test,TEST-ENGLAND V INDIA 2021,"The Oval, London",Thursday 2nd September,15:30 IST
9,5th Test,TEST-ENGLAND V INDIA 2021,"Old Trafford, Manchester",Friday 10th September,15:30 IST

- Question 3

In [30]:
driver=webdriver.Chrome("chromedriver.exe") 


url = "https://www.guru99.com/"
driver.get(url)

In [31]:
search_button=driver.find_element_by_xpath("//div[@class='featured-box cloumnsize1']//ul[1]//li[3]//a")
search_button.click()

In [32]:
search_button=driver.find_element_by_xpath("/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a/strong")
search_button.click()

In [38]:
exception_name=[]
exception_description=[]

In [39]:
name=driver.find_elements_by_xpath("//table[@class='table table-striped']//td[1]")
for i in name:
    exception_name.append(i.text)
    
exception_name

['Exception name',
 'ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [40]:
description=driver.find_elements_by_xpath("//table[@class='table table-striped']//td[2]")
for i in description:
    exception_description.append(i.text)
    
exception_description

['Description',
 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.",
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 "It occurs when command can't be finished when the element is invalid.",
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 "This occurs when remote WebDriver does n't send valid commands as expected."]

In [41]:
exception_name.remove('Exception name')
exception_description.remove('Description')

In [42]:
df=pd.DataFrame({"Exception_name":exception_name,
                 "Description":exception_description,})
df

,Exception_name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

- Question 4

In [43]:
driver=webdriver.Chrome("chromedriver.exe") 


url = "http://statisticstimes.com/"
driver.get(url)

In [44]:
search_button=driver.find_element_by_xpath("//div[@class='navbar']//div[2]//button")
search_button.click()


search_button=driver.find_element_by_xpath("//div[@class='navbar']//div[2]//div//a[3]")
search_button.click()

In [45]:
search_button=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
search_button.click()

In [64]:
Rank=[]
State=[]
GSDP_at_current_price_19_to_20=[]
GSDP_at_current_price_18_to_19=[]
Share_18_to_19=[]
GDP_billion=[]

In [66]:
rank=driver.find_elements_by_xpath("//table[@class='display dataTable']//tbody//tr//td[1]")
for i in rank:
    Rank.append(i.text)
    
Rank[:33]

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [68]:
state=driver.find_elements_by_xpath("//table[@class='display dataTable']//tbody//tr//td[2]")
for i in state:
    State.append(i.text)
    
    
GSDP_19_20=driver.find_elements_by_xpath("//table[@class='display dataTable']//tbody//tr//td[3]")
for i in GSDP_19_20:
    GSDP_at_current_price_19_to_20.append(i.text)
    

GSDP_18_19=driver.find_elements_by_xpath("//table[@class='display dataTable']//tbody//tr//td[4]")
for i in GSDP_18_19:
    GSDP_at_current_price_18_to_19.append(i.text)
    
share=driver.find_elements_by_xpath("//table[@class='display dataTable']//tbody//tr//td[5]")
for i in share:
    Share_18_to_19.append(i.text)
    
    
GDP=driver.find_elements_by_xpath("//table[@class='display dataTable']//tbody//tr//td[6]")
for i in GDP:
    GDP_billion.append(i.text)
    
    

    
    
df=pd.DataFrame({"Rank":Rank[:33],
                 "State":State[:33],
                "GSDP at current price (19-20)":GSDP_at_current_price_19_to_20[:33],
                "GSDP at current price (18-19)":GSDP_at_current_price_18_to_19[:33],
                "Share(18-19)":Share_18_to_19[:33],
                "GDP($ billion)":GDP_billion[:33]})
df

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

- Question 5

In [68]:
driver=webdriver.Chrome("chromedriver.exe") 


url = "https://github.com/"
driver.get(url)

In [69]:
search_button=driver.find_element_by_xpath("//nav[@class='mt-0 px-3 px-lg-0 mb-5 mb-lg-0']//ul//li[4]//details//summary")
search_button.click()

In [70]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
search_button.click()

In [95]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [96]:
contributors=driver.find_elements_by_xpath("//div[@class='Box']//div[2]//article//div[2]//a[2]")
for i in contributors:
    Contributors_count.append(i.text)
    

a = [s for s in Contributors_count if s != '']

In [97]:
print(a[:22])

['93', '132', '223', '48', '72', '16,572', '33', '1,569', '23', '1,576', '1,204', '50,278', '37', '30', '27', '26', '770', '118', '96', '46', '350', '4,664']

In [98]:
title=driver.find_elements_by_xpath("//div[@class='Box']//div[2]//article//h1//a")
for i in title:
    Repository_title.append(i.text)

Repository_title[:22]

['mvt-project / mvt',
 'microsoft / CBL-Mariner',
 'zhenghaoz / gorse',
 'AmnestyTech / investigations',
 'blueedgetechno / windows11',
 'public-apis / public-apis',
 'alan2207 / bulletproof-react',
 'ventoy / Ventoy',
 'CryptoBlades / cryptoblades',
 'facebookresearch / ParlAI',
 'tal-tech / go-zero',
 'jwasham / coding-interview-university',
 'kawalcovid19 / wargabantuwarga.com',
 'LaravelDaily / Laravel-Roadmap-Learning-Path',
 'taylorotwell / next-example-frontend',
 'taylorotwell / next-example-backend',
 'visenger / awesome-mlops',
 'Xmader / musescore-downloader',
 'yedf / dtm',
 'lxgw / LxgwWenKai',
 'Aircoin-official / AirCash',
 'awesome-selfhosted / awesome-selfhosted']

In [99]:
description=driver.find_elements_by_xpath("//div[@class='Box']//div[2]//p")
for i in description:
    Repository_description.append(i.text)
    
Repository_description[:22]

['MVT is a forensic tool to look for signs of infection in smartphone devices',
 'Linux OS for Azure 1P services and edge appliances',
 'An open source recommender system service written in Go',
 "Indicators from Amnesty International's investigations",
 'windows 11 in react',
 'A collective list of free APIs',
 'A simple, scalable, and powerful architecture for building production ready React applications.',
 'A new bootable USB solution.',
 'A framework for training and evaluating AI models on a variety of openly available dialogue datasets.',
 "go-zero is a web and rpc framework written in Go. It's born to ensure the stability of the busy sites with resilient design. Builtin goctl greatly improves the development productivity.",
 'A complete computer science study plan to become a software engineer.',
 'Inisiatif warga untuk berbagi informasi seputar fasilitas kesehatan dan alat kesehatan untuk COVID-19.',
 'A curated list of references for MLOps',
 'Download sheet music (MSCZ, PDF, MusicXML, MIDI, MP3, download individual parts as PDF) from musescore.com for free, no login or Musescore Pro required | 免登录、免 Musescore Pro，免费下载 musescore.com 上的曲谱 | Installation: https://msdl.librescore.org/install.user.js',
 'go语言分布式事务管理器 a lightweight distributed transaction management service, support xa tcc saga',
 "An open-source Chinese font derived from Fontworks' Klee One. 一款基于 FONTWORKS 的 Klee One 的开源中文字体。",
 'Cash system for AIR.',
 'A list of Free Software network services and web applications which can be hosted on your own servers',
 'Playground and cheatsheet for learning Python. Collection of Python scripts that are split by topics and contain code examples with explanations.',
 'A Svelte IDE like no other. Embrace the storm. Embrace the Svelte.',
 'Cloud-native high-performance edge/middle/service proxy']

In [100]:
language=driver.find_elements_by_xpath("//div[@class='Box']//div[2]//article//div[2]//span//span[2]")
for i in language:
    Language_used.append(i.text)
    
Language_used[:22]

['Python',
 'Go',
 'Go',
 'Python',
 'CSS',
 'Python',
 'TypeScript',
 'C',
 'Vue',
 'Python',
 'Go',
 'TypeScript',
 'JavaScript',
 'PHP',
 'TypeScript',
 'Go',
 'JavaScript',
 'Python',
 'Svelte',
 'C++']

In [105]:
Github_repository=pd.DataFrame({})
Github_repository['Repository_name']=Repository_title[0:20]
Github_repository['Repository_description']=Repository_description[0:20]
Github_repository['Contributors_count']=a[0:20]
Github_repository['Language_used']=Language_used[0:20]
Github_repository

,Repository_name,Repository_description,Contributors_count,Language_used
0,mvt-project / mvt,MVT is a forensic tool to look for signs of in...,93,Python
1,microsoft / CBL-Mariner,Linux OS for Azure 1P services and edge applia...,132,Go
2,zhenghaoz / gorse,An open source recommender system service writ...,223,Go
3,AmnestyTech / investigations,Indicators from Amnesty International's invest...,48,Python
4,blueedgetechno / windows11,windows 11 in react,72,CSS
5,public-apis / public-apis,A collective list of free APIs,"16,572",Python
6,alan2207 / bulletproof-react,"A simple, scalable, and powerful architecture ...",33,TypeScript
7,ventoy / Ventoy,A new bootable USB solution.,"1,569",C
8,CryptoBlades / cryptoblades,A framework for training and evaluating AI mod...,23,Vue
9,facebookresearch / ParlAI,go-zero is a web and rpc framework written in ...,"1,576",Python
10,tal-tech / go-zero,A complete computer science study plan to beco...,"1,204",Go
11,jwasham / coding-interview-university,Inisiatif warga untuk berbagi informasi seputa...,"50,278",TypeScript
12,kawalcovid19 / wargabantuwarga.com,A curated list of references for MLOps,37,JavaScript
13,LaravelDaily / Laravel-Roadmap-Learning-Path,"Download sheet music (MSCZ, PDF, MusicXML, MID...",30,PHP
14,taylorotwell / next-example-frontend,go语言分布式事务管理器 a lightweight distributed transac...,27,TypeScript
15,taylorotwell / next-example-backend,An open-source Chinese font derived from Fontw...,26,Go
16,visenger / awesome-mlops,Cash system for AIR.,770,JavaScript
17,Xmader / musescore-downloader,A list of Free Software network services and w...,118,Python
18,yedf / dtm,Playground and cheatsheet for learning Python....,96,Svelte
19,lxgw / LxgwWenKai,A Svelte IDE like no other. Embrace the storm....,46,C++

- Question 6

In [106]:
driver=webdriver.Chrome("chromedriver.exe") 


url = "https://www.billboard.com/"
driver.get(url)

In [107]:
search_button=driver.find_element_by_xpath("//nav[@class='header__subnav bg--light']//ul//li[3]//a")
search_button.click()

In [166]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [167]:
song_name=driver.find_elements_by_xpath("//div[@class='chart-list__wrapper']//div//ol//li//button//span[2]//span[1]")
for i in song_name:
    Song_name.append(i.text.strip())

Song_name = [s for s in Song_name if s != '']
Song_name = [s for s in Song_name if s != 'Steady']
Song_name = [s for s in Song_name if s != 'Failing']
Song_name = [s for s in Song_name if s != 'Rising']
Song_name

['Permission To Dance',
 'Good 4 U',
 'Stay',
 'Levitating',
 'Kiss Me More',
 'Bad Habits',
 'Butter',
 'Montero (Call Me By Your Name)',
 'Save Your Tears',
 'Deja Vu',
 'Peaches',
 'Leave The Door Open',
 'Motley Crew',
 'Rapstar',
 'Astronaut In The Ocean',
 'Whole Lotta Money',
 'Blinding Lights',
 'Heartbreak Anniversary',
 'You Right',
 'Without You',
 'Fancy Like',
 'Forever After All',
 'Every Chance I Get',
 'Famous Friends',
 'Thot Shit',
 'Beautiful Mistakes',
 'Single Saturday Night',
 'Leave Before You Love Me',
 'Lil Bit',
 'Blame It On You',
 'Glad You Exist',
 'Best Friend',
 'Late At Night',
 "Ain't Shit",
 'Heat Waves',
 'Telepatia',
 'Wants And Needs',
 'Yonaguni',
 'NDA',
 "Drinkin' Beer. Talkin' God. Amen.",
 "Beggin'",
 'Drivers License',
 'Mood',
 "My Ex's Best Friend",
 'Traitor',
 'Wockesha',
 'Todo de Ti',
 'pov',
 'Calling My Phone',
 'Memory',
 'Ball If I Want To',
 'One Too Many',
 "Drunk (And I Don't Wanna Go Home)",
 'Settling Down',
 'Gone',
 'Chasing After You',
 'Favorite Crime',
 'Arcade',
 'Things A Man Oughta Know',
 'Way Less Sad',
 'You',
 'Straightenin',
 'Need To Know',
 'Ski',
 'my.life',
 'AM',
 'Red Light Green Light',
 'Happier',
 'WUSYANAME',
 "We Didn't Have Much",
 'Country Again',
 'Essence',
 'Waves',
 "Breaking Up Was Easy In The 90's",
 'Hats Off',
 'Brutal',
 'Fiel',
 'The Jackie',
 'Come Through',
 'Twerkulator',
 'Tombstone',
 'Minimum Wage',
 'A-O-K',
 'Build A Bitch',
 'I Was On A Boat That Day',
 'Follow You',
 'Jealousy, Jealousy',
 'Working',
 'Volando',
 'My Boy',
 'You Should Probably Leave',
 '4 Da Gang',
 'transparentsoul',
 'De Museo',
 'Cold Beer Calling My Name',
 'Wasting Time',
 'All I Know So Far',
 'Outside',
 'Miss The Rage',
 'Next Girl']

In [168]:
len(Song_name)

100

In [170]:
artist_name=driver.find_elements_by_xpath("//div[@class='chart-list__wrapper']//div//ol//li//button//span[2]//span[2]")
for i in artist_name:
    Artist_name.append(i.text)
    
Artist_name = [s for s in Artist_name if s != '']
Artist_name

['BTS',
 'Olivia Rodrigo',
 'The Kid LAROI & Justin Bieber',
 'Dua Lipa Featuring DaBaby',
 'Doja Cat Featuring SZA',
 'Ed Sheeran',
 'BTS',
 'Lil Nas X',
 'The Weeknd & Ariana Grande',
 'Olivia Rodrigo',
 'Justin Bieber Featuring Daniel Caesar & Giveon',
 'Silk Sonic (Bruno Mars & Anderson .Paak)',
 'Post Malone',
 'Polo G',
 'Masked Wolf',
 'BIA Featuring Nicki Minaj',
 'The Weeknd',
 'Giveon',
 'Doja Cat & The Weeknd',
 'The Kid LAROI',
 'Walker Hayes',
 'Luke Combs',
 'DJ Khaled Featuring Lil Baby & Lil Durk',
 'Chris Young + Kane Brown',
 'Megan Thee Stallion',
 'Maroon 5 Featuring Megan Thee Stallion',
 'Cole Swindell',
 'Marshmello X Jonas Brothers',
 'Nelly & Florida Georgia Line',
 'Jason Aldean',
 'Dan + Shay',
 'Saweetie Featuring Doja Cat',
 'Roddy Ricch',
 'Doja Cat',
 'Glass Animals',
 'Kali Uchis',
 'Drake Featuring Lil Baby',
 'Bad Bunny',
 'Billie Eilish',
 'Chase Rice Featuring Florida Georgia Line',
 'Maneskin',
 'Olivia Rodrigo',
 '24kGoldn Featuring iann dior',
 'Machine Gun Kelly X blackbear',
 'Olivia Rodrigo',
 'Moneybagg Yo',
 'Rauw Alejandro',
 'Ariana Grande',
 'Lil Tjay Featuring 6LACK',
 'Kane Brown X blackbear',
 'DaBaby',
 'Keith Urban Duet With P!nk',
 'Elle King & Miranda Lambert',
 'Miranda Lambert',
 'Dierks Bentley',
 'Ryan Hurd With Maren Morris',
 'Olivia Rodrigo',
 'Duncan Laurence',
 'Lainey Wilson',
 'AJR',
 'Regard x Troye Sivan x Tate McRae',
 'Migos',
 'Doja Cat',
 'Young Thug & Gunna',
 'J. Cole, 21 Savage & Morray',
 'Nio Garcia X J Balvin X Bad Bunny',
 'DaBaby',
 'Olivia Rodrigo',
 'Tyler, The Creator Featuring YoungBoy Never Broke Again & Ty Dolla $ign',
 'Justin Moore',
 'Thomas Rhett',
 'Wizkid Featuring Tems',
 'Luke Bryan',
 'Sam Hunt',
 'Lil Baby, Lil Durk & Travis Scott',
 'Olivia Rodrigo',
 'Los Legendarios, Wisin & Jhay Cortez',
 'Bas With J. Cole & Lil TJay',
 'H.E.R. Featuring Chris Brown',
 'City Girls',
 'Rod Wave',
 'Blake Shelton',
 'Tai Verdes',
 'Bella Poarch',
 'Old Dominion',
 'Imagine Dragons',
 'Olivia Rodrigo',
 'Tate McRae X Khalid',
 'Mora, Bad Bunny & Sech',
 'Elvie Shane',
 'Chris Stapleton',
 '42 Dugg & Roddy Ricch',
 'Willow Featuring Travis Barker',
 'Bad Bunny',
 'Jameson Rodgers Featuring Luke Combs',
 'Brent Faiyaz Featuring Drake',
 'P!nk',
 'MO3 X OG Bobby Billions',
 'Trippie Redd & Playboi Carti',
 'Carly Pearce']

In [171]:
len(Artist_name)

100

In [172]:
last_week_rank=driver.find_elements_by_xpath("//div[@class='chart-list__wrapper']//div//ol//li//button//div//div[2]")
for i in last_week_rank:
    Last_week_rank.append(i.text)
    
Last_week_rank = [s for s in Last_week_rank if s != '']
Last_week_rank

['-',
 '1',
 '-',
 '2',
 '3',
 '6',
 '1',
 '1',
 '1',
 '3',
 '1',
 '1',
 '-',
 '1',
 '6',
 '-',
 '15',
 '19',
 '11',
 '8',
 '20',
 '2',
 '20',
 '21',
 '16',
 '13',
 '26',
 '28',
 '23',
 '31',
 '35',
 '14',
 '32',
 '41',
 '19',
 '25',
 '2',
 '10',
 '-',
 '40',
 '46',
 '1',
 '1',
 '20',
 '9',
 '33',
 '32',
 '27',
 '3',
 '-',
 '39',
 '66',
 '63',
 '53',
 '26',
 '62',
 '16',
 '58',
 '51',
 '54',
 '60',
 '23',
 '64',
 '18',
 '61',
 '41',
 '50',
 '15',
 '14',
 '75',
 '71',
 '82',
 '74',
 '32',
 '16',
 '12',
 '62',
 '-',
 '79',
 '80',
 '85',
 '67',
 '83',
 '56',
 '91',
 '68',
 '24',
 '93',
 '-',
 '88',
 '90',
 '67',
 '76',
 '-',
 '95',
 '49',
 '96',
 '92',
 '11',
 '-']

In [173]:
len(Last_week_rank)

100

In [174]:
peak_rank=driver.find_elements_by_xpath("//div[@class='chart-list__wrapper']//div//ol//li//button//div//div[3]")
for i in peak_rank:
    Peak_rank.append(i.text)
    
Peak_rank = [s for s in Peak_rank if s != '']
Peak_rank

['1',
 '9',
 '3',
 '41',
 '14',
 '5',
 '8',
 '16',
 '31',
 '15',
 '17',
 '19',
 '13',
 '14',
 '22',
 '16',
 '1',
 '16',
 '3',
 '32',
 '20',
 '38',
 '11',
 '16',
 '5',
 '19',
 '26',
 '28',
 '17',
 '30',
 '31',
 '27',
 '20',
 '24',
 '26',
 '21',
 '19',
 '6',
 '39',
 '40',
 '41',
 '27',
 '49',
 '48',
 '8',
 '12',
 '7',
 '19',
 '22',
 '50',
 '4',
 '52',
 '53',
 '41',
 '18',
 '56',
 '8',
 '58',
 '9',
 '12',
 '60',
 '9',
 '38',
 '13',
 '2',
 '3',
 '3',
 '8',
 '3',
 '70',
 '71',
 '72',
 '73',
 '20',
 '6',
 '8',
 '5',
 '78',
 '64',
 '51',
 '11',
 '10',
 '83',
 '9',
 '85',
 '15',
 '8',
 '88',
 '89',
 '88',
 '90',
 '14',
 '5',
 '94',
 '95',
 '2',
 '74',
 '4',
 '10',
 '100']

In [175]:
len(Peak_rank)

100

In [176]:
week_on_chart=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in week_on_chart:
    Weeks_on_board.append(i.text)
    

Weeks_on_board

['1',
 '9',
 '1',
 '41',
 '14',
 '3',
 '8',
 '16',
 '31',
 '15',
 '17',
 '19',
 '1',
 '14',
 '22',
 '1',
 '84',
 '22',
 '3',
 '32',
 '4',
 '38',
 '11',
 '16',
 '5',
 '19',
 '11',
 '8',
 '17',
 '12',
 '23',
 '27',
 '6',
 '3',
 '26',
 '21',
 '19',
 '6',
 '1',
 '7',
 '3',
 '27',
 '49',
 '48',
 '8',
 '12',
 '7',
 '19',
 '22',
 '1',
 '4',
 '31',
 '12',
 '18',
 '18',
 '11',
 '8',
 '14',
 '9',
 '12',
 '5',
 '9',
 '5',
 '13',
 '9',
 '3',
 '3',
 '8',
 '3',
 '4',
 '11',
 '2',
 '4',
 '20',
 '6',
 '8',
 '5',
 '1',
 '6',
 '6',
 '16',
 '10',
 '2',
 '9',
 '2',
 '15',
 '8',
 '4',
 '1',
 '3',
 '2',
 '14',
 '5',
 '1',
 '2',
 '2',
 '5',
 '4',
 '10',
 '1']

In [177]:
len(Weeks_on_board)

100

In [178]:
df=pd.DataFrame({"Song_name":Song_name,
                 "Artist_name":Artist_name,
                "Last_week_rank":Last_week_rank,
                "Peak_rank":Peak_rank,
                "Weeks_on_board":Weeks_on_board})
df

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Permission To Dance,BTS,-,1,1
1,Good 4 U,Olivia Rodrigo,1,9,9
2,Stay,The Kid LAROI & Justin Bieber,-,3,1
3,Levitating,Dua Lipa Featuring DaBaby,2,41,41
4,Kiss Me More,Doja Cat Featuring SZA,3,14,14
...,...,...,...,...,...
95,Wasting Time,Brent Faiyaz Featuring Drake,49,2,2
96,All I Know So Far,P!nk,96,74,5
97,Outside,MO3 X OG Bobby Billions,92,4,4
98,Miss The Rage,Trippie Redd & Playboi Carti,11,10,10
99,Next Girl,Carly Pearce,-,100,1

- Question 7

In [378]:
driver=webdriver.Chrome("chromedriver.exe") 


url = "https://www.naukri.com/"
driver.get(url)

In [380]:
recruiter_url = []


url=driver.find_elements_by_xpath('//a[@title="Search Recruiters"]')       
for i in url:
    recruiter_url.append(i.get_attribute("href"))                        

recruiter=driver.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/a/div")
recruiter.click()

In [475]:
Name=[]
Designation=[]
Company=[]
Skills_they_hire_for=[]
Location=[]

In [476]:
for url in recruiter_url:
    driver.get(url)

    designation=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")  
    designation.send_keys("Data Science")
    
    search_button=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
    search_button.click()
    
    name=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
    for i in name:
        Name.append(i.text)
        
    Designation_of_recruiter=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
    for i in Designation_of_recruiter:
        Designation.append(i.text.strip())
    
    
    location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
    if
    
      for i in location:
        Location.append(i.text)
        
        
    company=driver.find_elements_by_xpath("//p[@class='highlightable']//a[2]")
    for i in company:
        Company.append(i.text)
    
    skills_they_hire_for=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
    for i in skills_they_hire_for:
        Skills_they_hire_for.append(i.text)

In [485]:
df=pd.DataFrame({"Recruiter_name":Name[:48],
                 "Recruiter_designation":Designation[:48],
                "Recruiting_company":Company[:48],
                "Recruiting_location":Location[:48],
                "Skills_they_hire_for":Skills_they_hire_for[:48]})
df

,Recruiter_name,Recruiter_designation,Recruiting_company,Recruiting_location,Skills_they_hire_for
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
10,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
11,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
15,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
16,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
20,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
23,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
25,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,Delhi,"Signal Processing, Machine Learning, Neural Ne..."
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Bengaluru / Bangalore,"Web Technologies, Project Management, Software..."
28,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Mysoru / Mysore,"Server Administartion, Verilog, Vhdl, Digital ..."
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Hyderabad / Secunderabad,"Data Analytics, Managed Services, Team Leading..."
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Bengaluru / Bangalore,"Data Science, Machine Learning, Big Data Analy..."
32,Radha Manivasagam,HR Executive,Techcovery,Ghaziabad,"Python, Artificial Intelligence, Machine Learn..."
33,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Noida,Walmart Interra Skeps Expressstores indifi whi...
34,Prateek Kumar,Head,Trisect,New Delhi,"Java, Python, Angularjs, Software Testing, Mac..."
35,Amit Sharma,Consultant,ASCO consulting,Chennai,"Machine Learning, Artificial Intelligence, Dat..."
36,Kanan,senior technology instructor,NY INST,Aligarh,"C, C++, Artificial Intelligence, Python, Php, ..."
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Salt Lake City,"Relationship Management, Retail Sales, Private..."
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,Pune,"Data Science, Software Engineering"
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,Bengaluru / Bangalore,"Data Science, Big Data Analytics, Digital Mark..."
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Mumbai,"Data Science, Recruitment, Salary"
41,Ankit Sinha,Head Analytics,Suntech Global,Indore,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Bengaluru / Bangalore,"Software Development, Business Intelligence, B..."
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,MYSORE,"Data Science, Node.js, Angularjs"
44,Ashwini,Director Global Delivery,MRP Advisers,Hyderabad / Secunderabad,"Data Science, Media Marketing, Resource Planni..."
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Bengaluru / Bangalore,"Data Analysis, Learning, Data Science, Compute..."
46,Rajani Nagaraj,HR Manager,WildJasmine,Mumbai,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
47,ROHIT Kumar,Architect,LNT Private Limited,Noida,"Software Development, Core Java, Unit Testing,..."

- Question 8

In [488]:
driver=webdriver.Chrome("chromedriver.exe") 


url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/"
driver.get(url)

- I am facing some error while opening this site. I shared the images of the error. Kindly check

- Question 9

In [489]:
driver=webdriver.Chrome("chromedriver.exe") 


url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [542]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [543]:
name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a")
for i in name:
    Name.append(i.text)
    
    
year=driver.find_elements_by_xpath("//h3[@class='lister-item-header']//span[2]")
for i in year:
    Year_span.append(i.text)
    
    
    
genre=driver.find_elements_by_xpath("//div[@class='lister-item-content']//p[1]//span[5]")
for i in genre:
    Genre.append(i.text)
    

time=driver.find_elements_by_xpath("//div[@class='lister-item-content']//p[1]//span[3]")
for i in time:
    Run_time.append(i.text)
    


rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]")
for i in rating:
    Ratings.append(i.text)
    


votes=driver.find_elements_by_xpath("//div[@class='lister list detail sub-list']//div[3]//div//div[2]//p[4]//span[2]")
for i in votes:
    Votes.append(i.text)

In [544]:
len(Name)

100

In [545]:
len(Genre)

100

In [546]:
len(Year_span),len(Run_time),len(Ratings),len(Votes)

(100, 100, 100, 100)

In [547]:
df=pd.DataFrame({"Show_name":Name,
                 "Year_Span":Year_span,
                "Genre":Genre,
                "Run_time":Run_time,
                "Ratings":Ratings,
                "Votes":Votes})
df

,Show_name,Year_Span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,839,420"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"877,906"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"881,185"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"264,647"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"226,091"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,839"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,490"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"170,240"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,216"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"193,912"

In [548]:
driver=webdriver.Chrome("chromedriver.exe") 


url = "https://archive.ics.uci.edu/"
driver.get(url)

In [549]:
search_button=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
search_button.click()

In [630]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [631]:
name=driver.find_elements_by_xpath("//p[@class='normal']//b//a")
for i in name:
    Dataset_name.append(i.text.strip())
    
len(Dataset_name)

588

In [632]:
types=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
for i in types:
    Data_type.append(i.text.strip())
Data_type = [s for s in Data_type if s != 'Data Types']
len(Data_type)

588

In [633]:
task=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
for i in task:
    Task.append(i.text.strip())
Task = [s for s in Task if s != 'Default Task']

In [634]:
len(Task)

588

In [635]:
attribute=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
for i in attribute:
    Attribute_type.append(i.text.strip())
Attribute_type = [s for s in Attribute_type if s != 'Attribute Types']
len(Attribute_type)

588

In [636]:
instance=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
for i in instance:
    No_of_instances.append(i.text.strip())
No_of_instances = [s for s in No_of_instances if s != '# Instances']
len(No_of_instances)

588

In [637]:
attributes=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
for i in attributes:
    No_of_attribute.append(i.text.strip())
No_of_attribute = [s for s in No_of_attribute if s != '# Attributes']
len(No_of_attribute)

588

In [638]:
year=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
for i in year:
    Year.append(i.text.strip())
Year = [s for s in Year if s != 'Year']
len(Year)

588

In [642]:
df=pd.DataFrame({"Dataset_name":Dataset_name,
                 "Data_type":Data_type,
                 "Task":Task,
                 "Attribute_type":Attribute_type,
                 "No_of_instances":No_of_instances,
                 "No_of_attribute":No_of_attribute,
                 "Year":Year})
df

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021